streamlit==1.32.0
pillow==10.4.0
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.4.2
xgboost==1.7.6
torch==2.2.2
torchvision==0.17.2
joblib==1.5.1
shap==0.48.0
timm==0.9.12
sentence-transformers==2.7.0
transformers==4.40.0
tokenizers==0.19.1
safetensors==0.4.2
huggingface_hub==0.34.0
imbalanced-learn==0.12.3
python-dotenv==1.0.0
